* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./assets/images/food-website.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h5 {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoheader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4px;
    text-decoration: none;
}

#logo {
    padding: 3px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.logoheader>h1 {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    padding: 3px;
    font-family: cursive;
    font-weight: 600;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-items>ul>li {
    text-align: center;
    font-size: 1.2rem;
    margin: 5px;
    padding: 10px;
    font-weight: 600;
}

.nav-items img {
    width: 25px;
    padding-right: 5px;
}


.nav-items>ul>li:hover {
    color: crimson;
    border-bottom: 0.5px solid black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.body-section {
    background-color: rgba(220, 20, 60, 0.966);
    padding: 5px;
}

.body-section .food-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.body-section .food-image-list {
    width: 300px;
    height: 200px;
    margin: 1.5rem 0.5rem;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.body-section .food-image-list:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2px 2px white;
}

.food-background-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("./assets/images/welcome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.food-image-welcome {
    padding: 20px;
    text-align: end;
}

.food-image-welcome>h1 {
    font-weight: bold;
    margin-top: 2rem;
    padding: 0 2rem;
    color: white;
    text-align: end;
    font-size: 2.5rem;
}

.food-image-welcome>button {
    margin: 2rem;
}

.sign-up-btn {
    background-color: crimson;
    color: white;
    min-width: 20%;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#food-quote {
    color: white;
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 3px;
    padding: auto;
    text-align: center;
}

#author {
    color: white;
    text-align: end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 1rem;
    margin: 3px;
    padding: 6px;
}


.restaurant-body-section h2 {
    margin: 8px;
    padding: 5px;
    text-align: left;
    color: black;
    font-size: 2.5rem;
    font-family: cursive;
    font-weight: 500;
}

.search-section {
    margin: 5px;
    padding: 5px;
    text-align: end;
}

.search-box {
    margin: 10px;
    padding: 10px;
}

.search-box-field,
.search-box-btn {
    margin: 5px;
    padding: 5px;
}

.search-box-field {
    min-width: 40%;
}

.search-box-btn {
    background-color: crimson;
    color: white;
    min-width: 7%;
    border-radius: 8px;
    border: 0;
}

.restaurant-list {
    margin: 10px;
    display: grid;
    color: white;
}

.restaurant-list h1 {
    text-align: center;
    color: black;
    font-size: 2.8rem;
}

.restaurant-list-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.5fr));
    gap: 2rem;
    margin: 0.5rem;
}

.shimmer-container {
    text-align: center;
}

.shimmer-effect {
    text-align: center;
    margin: 20px;
    padding: 30px;
    background: linear-gradient(to right, #f6f7f8 0%, #e9ebee 50%, #fafbfd 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.shimmer-effect .restaurant-card {
    min-width: 20%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease;
    border: 0.2px solid grey;
}

.shimmer-effect .restaurant-img {
    border: 0.1px solid grey;
    max-width: 250px;
    height: 160px;
    margin: 10px;
    padding: auto;
    border-radius: 10px;
    flex-grow: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.no-data-img {
    margin: 20px;
    max-width: 100%;
    min-height: 100%;
    text-align: center;
}

.restaurant-list-card {
    /*height: 100%;
    */
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

.restaurant-img {
    /*max-width: 100%;
    */
    width: 250px;
    height: 160px;
    margin: 10px;
    padding: auto;
    border-radius: 10px;
    flex-grow: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.restaurant-details {
    margin: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.restaurant-name {
    font-size: 1.2rem;
    text-align: center;
}

.restaurant-rating {
    text-align: center;
}

.restaurant-name-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2px;
}

.restaurant-rating,
.restaurant-cuisines {
    margin: 3px;
    font-size: 1rem;
}

.restaurant-costfor,
.restaurant-time {
    font-size: 0.8rem;
    margin: 2px;
}

.filters_options>ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.filters_options>ul>li {
    font-size: 1rem;
    margin: 3px;
    padding: 3px;
}

.filters_options>ul>li:hover {
    color: crimson;
    border-bottom: 0.5px solid black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 1.2rem;
}

#filter_by,
#reset_all {
    color: crimson;
    font-size: 1.3rem;
    font-weight: 500;
}

#filter-section-line {
    margin: 2rem;
}

.quick_menu h6 {
    text-align: center;
    margin: 1px;
}

.restaurant-list-card:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgba(220, 20, 60, 0.883);
    color: white;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.footer-part {
    padding: 0.5rem;
    background-color: black;
}

.footer {
    color: white;
    text-align: center;
    padding: 0.3rem;
    text-decoration: none
}

.container {
    margin-top: 2rem;
    margin-bottom: 1rem;
}


.box-form {
    border: 2px solid crimson;
    background-color: white;
    margin: auto;
    padding: 5px;
    max-width: 100%;
    border-radius: 10px;
}

.text-style {
    font-weight: bold;
}

.sign-in {
    margin: 1rem;
    padding: auto;
    width: 40%;
}

.box-form h1,
h3,
h4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-form h3 {
    margin-bottom: 10px;
}

.error{
    border: 1px solid red;
}

@media only screen and (min-width: 700px) {
    .box-form {
        border: 1px solid crimson;
        background-color: white;
        margin: auto;
        padding: 10px;
        max-width: 70%;
        border-radius: 10px;
    }
}